doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/logo/logo.pug
    include ../components/nav-list/nav-list.pug
    include ../components/burger/burger.pug
    include ../components/overlay/overlay.pug
    include ../components/social/social.pug
    include ../components/user-actions/user-actions.pug
    include ../components/copyright/copyright.pug

    head
        +head(head.defaults)
    body.page
        +header()
        block section
        +footer()
        script(src='%=static=%js/separate-js/swiper.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
