extends _template.pug

include ../components/content-img/content-img.pug
include ../components/promo-card/promo-card.pug
include ../components/about/about.pug
include ../components/picture/picture.pug
include ../components/bg-img/bg-img.pug
include ../components/link/link.pug
include ../components/main-title/main-title.pug
include ../components/title/title.pug
include ../components/description/description.pug
include ../components/subtitle/subtitle.pug
include ../components/product-card/product-card.pug
include ../components/slider-btn/slider-btn.pug
include ../components/block-info/block-info.pug
include ../components/contacts/contacts.pug
include ../components/collage/collage.pug
include ../components/button/button.pug
include ../components/product/product.pug
include ../components/paginator/paginator.pug
include ../components/form/form.pug
include ../components/input/input.pug
include ../components/checkbox-list/checkbox-list.pug
include ../components/radio-list/radio-list.pug
include ../components/accordion/accordion.pug
include ../components/contacts/contacts.pug
include ../components/collage/collage.pug
include ../components/site-contact/site-contact.pug
include ../components/site-follow/site-follow.pug
include ../components/price/price.pug

append section
    main.main-inner
        h1.visually-hidden Карточка товара
        .container.vertical-twice-gap-xl
            .row
                .col-lg-6.col-xs-12
                    +picture({
                         src: '%=static=%img/',
                        path: 'content',
                        image: 'care',
                        format: 'jpg',
                        width: '670',
                        height: '451',
                        altText: 'Индивидуальный уход',
                        source: [
                            {
                                'media' : '(max-width: 1199px)',
                                'image': 'card-lap',
                                'format': 'webp',
                                'type' : 'image/webp'
                            },{
                                'media' : '(max-width: 1199px)',
                                'image': 'card-lap',
                                'format': 'jpg',
                                'type' : 'image/jpeg'
                            },{
                                'media' : '(max-width: 767px)',
                                'image': 'card-mob',
                                'format': 'webp',
                                'type' : 'image/webp'
                            },{
                                'media' : '(max-width: 767px)',
                                'image': 'card-mob',
                                'format': 'jpg',
                                'type' : 'image/jpeg'
                            },{
                                'image': 'card',
                                'format': 'webp',
                                'type' : 'image/webp'
                            },{
                                'image': 'card',
                                'format': 'jpg',
                                'type' : 'image/jpeg'
                            }
                        ]
                    })
                .col-lg-6.col-xs-12
                    +title({
                        title: 'Rose'
                    })
                    +description({
                        text: 'крем для лица'
                    })(class='description--light vertical-gap-s')
                    +description({
                        text: 'Увлажняющий крем идеально подходит для повседневного ухода за молодой кожей'
                    })(class='vertical-gap-s')
                    +description({
                        text: 'Крем равномерно распределяется по поверхности благодаря легкой текстуре, обеспечивает глубокое увлажнение, регенерацию клеток'
                    })(class='vertical-gap-s')

                    +accordion({
                        subtitle: 'Состав',
                        btn: {
                            'size': 'small',
                            'theme': 'secondary'
                        }
                    })(class='accordion--closed accordion--card')
                        +description({
                            text: 'Aqua, Cyclomethicone, Dicaprylyl Carbonate, Butylene Glycol, Glycerin, Tapioca Starch, Nelumbium Speciosum Flower Extract, Calendula Officinalis Flower Extract, Propylene Glycol, Tocopherol, Glycine Soja Oil, Dimethiconol, Citronellol, Limonene.'
                        })
                    +accordion({
                        subtitle: 'Способ применения',
                        btn: {
                            'size': 'small',
                            'theme': 'secondary'
                        }
                    })(class='accordion--closed accordion--card')
                        +description({
                            text: 'Нанесите крем на очищенную кожу лица легкими массажными круговыми движениями, избегая области вокруг глаз. Подходит для дневного и ночного ухода'
                        })
                    +form({
                        formClass: 'card-form',
                        action: 'https://echo.htmlacademy.ru',
                        method: 'post'
                    })
                        .row.vertical-twice-gap-s.between-xs
                            .col-xs-4
                                +subtitle({
                                    subtitle: 'Объем: '
                                })
                            .col-xs-8
                                +radio-list({
                                    labelClass : 'radio-list__label',
                                    fieldId : 'volume',
                                    name : 'face-care',
                                    radio : [
                                        {
                                            labelText : '50ml',
                                            dif : '50',
                                            value : '50ml',
                                            checked : true
                                        },{
                                            labelText : '30ml',
                                            dif : '30',
                                            value : '30ml'
                                        }
                                    ]
                                })
                        .row.middle-xs
                            .col-xs-4
                                +price({
                                    price: '890 ₽'
                                })
                            .col-xs-8.col-lg-6
                                +button({
                                text: 'Добавить в корзину'
                                })
        .container.vertical-gap-xl.dec-block
            .row.center-xs.middle-xs
                .col-xs-12
                    +title({
                        title: 'Вы недавно смотрели'
                    })(class='vertical-gap-s')
            .slider.swiper-container.swiper-container--viewed.vertical-gap-s
                .swiper-wrapper
                    +product({
                        path: 'assets/product',
                        format: 'jpg',
                        width: '270',
                        height: '350',
                        slide: [
                            {
                                'image': 'rose',
                                'title': 'Rose',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'milk',
                                'title': 'Milk',
                                'price' : '790 ₽',
                                'text' : 'масло для тела',
                                'volume' : '150ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'paradise',
                                'title': 'Paradise',
                                'price' : '590 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '15g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'sun',
                                'title': 'Sun',
                                'price' : '90 ₽',
                                'text' : 'бомбочка для ванны',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            }
                        ]
                    })(class='swiper-slide slider__item')
            .row.between-xs
                .col-lg-2.col-xs-4
                    +paginator()(class='swiper-pagination-viewed')
                .col-lg-3.col-xs-4
                    +slider-btns({
                        btn1: 'prew-viewed',
                        btn2 : 'next-viewed',
                        prew: {'icoName': 'left',
                                'size':'lg'},
                        next: {'icoName': 'right',
                                'size':'lg'}
                    })
