extends _template.pug

include ../components/content-img/content-img.pug
include ../components/promo-card/promo-card.pug
include ../components/about/about.pug
include ../components/picture/picture.pug
include ../components/bg-img/bg-img.pug
include ../components/link/link.pug
include ../components/main-title/main-title.pug
include ../components/title/title.pug
include ../components/description/description.pug
include ../components/title/title.pug
include ../components/product-card/product-card.pug
include ../components/slider-btn/slider-btn.pug
include ../components/block-info/block-info.pug
include ../components/contacts/contacts.pug
include ../components/collage/collage.pug
include ../components/button/button.pug
include ../components/product/product.pug
include ../components/paginator/paginator.pug
include ../components/form/form.pug
include ../components/input/input.pug
include ../components/checkbox-list/checkbox-list.pug
include ../components/accordion/accordion.pug
include ../components/contacts/contacts.pug
include ../components/collage/collage.pug
include ../components/site-contact/site-contact.pug
include ../components/site-follow/site-follow.pug

append section
    main.catalog-main
        h1.visually-hidden Каталог продукции
        .container
            .row.between-xs.vertical-twice-gap-m
                .col-lg-2.col-sm-3.col-xs-6
                    +title({
                        title: 'Каталог'
                    })
                .col-lg-2.col-sm-3.col-xs-6
                    +button({
                        text: 'Фильтр',
                        ariaLabel: 'Открыть фильтр'
                    })(class='btn--filter active')
                    +button({
                        size: 'small',
                        theme: 'close',
                        ariaLabel: 'Открыть фильтр'
                    })
            .row
                .col-xs-12
                    +form({
                        formClass : 'filter'
                    })(class='vertical-gap-m')
                        .filter__inner
                            +accordion({
                                subtitle: 'Уход для лица',
                                btn: {
                                    'size': 'small',
                                    'theme': 'secondary'
                                }
                            })(class='filter__block filter__block--face-care accordion--closed')
                                    +checkbox-list({
                                        labelClass : 'checkbox-list__label',
                                        inputClass : 'visually-hidden checkbox-list__input',
                                        fieldId : 'filter-face-care',
                                        name : 'face-care',
                                        checkbox : [
                                            {
                                                labelText : 'Крема',
                                                dif : '0',
                                                value : 'cream',
                                                checked : true
                                            },{
                                                labelText : 'Сыворотки',
                                                dif : '1',
                                                value : 'serum',
                                                checked : true
                                            },{
                                                labelText : 'Маски',
                                                dif : '2',
                                                value : 'mask',
                                                checked : true
                                            },{
                                                labelText : 'Пенки',
                                                dif : '3',
                                                value : 'foam',
                                            },{
                                                labelText : 'Тоники',
                                                dif : '4',
                                                value : 'tonic',
                                            },{
                                                labelText : 'Пудры',
                                                dif : '5',
                                                value : 'powder',
                                                checked : true
                                            }
                                        ]
                                    })
                            +accordion({
                                subtitle: 'Уход для тела',
                                btn: {
                                    'size': 'small',
                                    'theme': 'secondary'
                                }
                            })(class='filter__block filter__block--body-care accordion--closed')
                                +checkbox-list({
                                    labelClass : 'checkbox-list__label',
                                    inputClass : 'visually-hidden checkbox-list__input',
                                    fieldId : 'filter-body-care',
                                    name : 'body-care',
                                    checkbox : [
                                        {
                                            labelText : 'Крема',
                                            dif : '0',
                                            value : 'cream',
                                        },{
                                            labelText : 'Масла',
                                            dif : '1',
                                            value : 'oil',
                                            checked : true
                                        },{
                                            labelText : 'Скрабы',
                                            dif : '2',
                                            value : 'scrab',
                                        },{
                                            labelText : 'Мыло',
                                            dif : '3',
                                            value : 'soup',
                                            checked : true
                                        },{
                                            labelText : 'Бомбочки для ванны',
                                            dif : '4',
                                            value : 'bomb',
                                            checked : true
                                        },{
                                            labelText : 'Соль для ванны',
                                            dif : '5',
                                            value : 'soalt',
                                        }
                                    ]
                                })
                            +accordion({
                                subtitle: 'Тип кожи',
                                btn: {
                                    'size': 'small',
                                    'theme': 'secondary'
                                }
                            })(class='filter__block filter__block--skin-type accordion--closed')
                                +checkbox-list({
                                    labelClass : 'checkbox-list__label',
                                    inputClass : 'visually-hidden',
                                    fieldId : 'filter-skin-type',
                                    name : 'skin-type',
                                    checkbox : [
                                        {
                                            labelText : 'Нормальная',
                                            dif : '0',
                                            value : 'normal',
                                        },{
                                            labelText : 'Сухая',
                                            dif : '1',
                                            value : 'dry',
                                            checked : true
                                        },{
                                            labelText : 'Жирная',
                                            dif : '2',
                                            value : 'oily',
                                        },{
                                            labelText : 'Комбинированная',
                                            dif : '3',
                                            value : 'combined',
                                            checked : true
                                        }
                                    ]
                                })

                            .filter__buttons
                                +button({
                                    type: 'submit',
                                    text: 'Применить',
                                    ariaLabel: 'Применить фильтр'
                                })
                                +button({
                                    type: 'reset',
                                    text: 'Сбросить',
                                    ariaLabel: 'Сбросить фильтр'
                                })

        .container.vertical-gap-xl.dec-block
            .slider.swiper-container.swiper-container--inner.vertical-gap-s
                .swiper-wrapper
                    +product({
                        path: 'assets/product',
                        format: 'jpg',
                        width: '270',
                        height: '350',
                        slide: [
                            {
                                'image': 'high',
                                'title': 'High',
                                'price' : '990 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'rest',
                                'title': 'Rest',
                                'price' : '690 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'rose',
                                'title': 'Rose',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'milk',
                                'title': 'Milk',
                                'price' : '790 ₽',
                                'text' : 'масло для тела',
                                'volume' : '150ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'paradise',
                                'title': 'Paradise',
                                'price' : '590 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '15g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'sun',
                                'title': 'Sun',
                                'price' : '90 ₽',
                                'text' : 'бомбочка для ванны',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'violet',
                                'title': 'Violet',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'clean',
                                'title': 'Clean',
                                'price' : '490 ₽',
                                'text' : 'для',
                                'volume' : '100ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'coconut',
                                'title': 'Coconut',
                                'price' : '990 ₽',
                                'text' : 'масло для тела',
                                'volume' : '300ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'Lavender',
                                'title': 'lavender',
                                'price' : '290 ₽',
                                'text' : 'мыло ручной работы',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'lotos',
                                'title': 'Lotos',
                                'price' : '890 ₽',
                                'text' : 'мыло ручной работы',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'earth',
                                'title': 'Earth',
                                'price' : '90 ₽',
                                'text' : 'ванны',
                                'volume' : '20ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'high',
                                'title': 'High',
                                'price' : '990 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'rest',
                                'title': 'Rest',
                                'price' : '690 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'rose',
                                'title': 'Rose',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'milk',
                                'title': 'Milk',
                                'price' : '790 ₽',
                                'text' : 'масло для тела',
                                'volume' : '150ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'paradise',
                                'title': 'Paradise',
                                'price' : '590 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '15g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'sun',
                                'title': 'Sun',
                                'price' : '90 ₽',
                                'text' : 'бомбочка для ванны',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'violet',
                                'title': 'Violet',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'clean',
                                'title': 'Clean',
                                'price' : '490 ₽',
                                'text' : 'для',
                                'volume' : '100ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'coconut',
                                'title': 'Coconut',
                                'price' : '990 ₽',
                                'text' : 'масло для тела',
                                'volume' : '300ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'Lavender',
                                'title': 'lavender',
                                'price' : '290 ₽',
                                'text' : 'мыло ручной работы',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'lotos',
                                'title': 'Lotos',
                                'price' : '890 ₽',
                                'text' : 'мыло ручной работы',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'earth',
                                'title': 'Earth',
                                'price' : '90 ₽',
                                'text' : 'ванны',
                                'volume' : '20ml',
                                'altText': 'Слайд с продукцией каталога',
                            },    {
                                'image': 'high',
                                'title': 'High',
                                'price' : '990 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'rest',
                                'title': 'Rest',
                                'price' : '690 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'rose',
                                'title': 'Rose',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'milk',
                                'title': 'Milk',
                                'price' : '790 ₽',
                                'text' : 'масло для тела',
                                'volume' : '150ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'paradise',
                                'title': 'Paradise',
                                'price' : '590 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '15g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'sun',
                                'title': 'Sun',
                                'price' : '90 ₽',
                                'text' : 'бомбочка для ванны',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'violet',
                                'title': 'Violet',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'clean',
                                'title': 'Clean',
                                'price' : '490 ₽',
                                'text' : 'для',
                                'volume' : '100ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'coconut',
                                'title': 'Coconut',
                                'price' : '990 ₽',
                                'text' : 'масло для тела',
                                'volume' : '300ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'Lavender',
                                'title': 'lavender',
                                'price' : '290 ₽',
                                'text' : 'мыло ручной работы',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'lotos',
                                'title': 'Lotos',
                                'price' : '890 ₽',
                                'text' : 'мыло ручной работы',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'earth',
                                'title': 'Earth',
                                'price' : '90 ₽',
                                'text' : 'ванны',
                                'volume' : '20ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'high',
                                'title': 'High',
                                'price' : '990 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'rest',
                                'title': 'Rest',
                                'price' : '690 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'rose',
                                'title': 'Rose',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'milk',
                                'title': 'Milk',
                                'price' : '790 ₽',
                                'text' : 'масло для тела',
                                'volume' : '150ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'paradise',
                                'title': 'Paradise',
                                'price' : '590 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '15g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'sun',
                                'title': 'Sun',
                                'price' : '90 ₽',
                                'text' : 'бомбочка для ванны',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'violet',
                                'title': 'Violet',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'clean',
                                'title': 'Clean',
                                'price' : '490 ₽',
                                'text' : 'для',
                                'volume' : '100ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'coconut',
                                'title': 'Coconut',
                                'price' : '990 ₽',
                                'text' : 'масло для тела',
                                'volume' : '300ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'Lavender',
                                'title': 'lavender',
                                'price' : '290 ₽',
                                'text' : 'мыло ручной работы',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'lotos',
                                'title': 'Lotos',
                                'price' : '890 ₽',
                                'text' : 'мыло ручной работы',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'earth',
                                'title': 'Earth',
                                'price' : '90 ₽',
                                'text' : 'ванны',
                                'volume' : '20ml',
                                'altText': 'Слайд с продукцией каталога',
                            },
                        ]
                    })(class='swiper-slide slider__item')
            .row.between-xs
                .col-xs-2
                    +paginator()(class='swiper-pagination-inner')
                .col-xs-3
                    +slider-btn({
                        btn1: 'prew-inner',
                        btn2 : 'next-inner',
                        prew: {'icoName': 'left',
                                'size':'lg'},
                        next: {'icoName': 'right',
                                'size':'lg'}
                    })
        .container.vertical-gap-xl.dec-block
            .row.center-xs.middle-xs
                .col-xs-12
                    +title({
                        title: 'Вы недавно смотрели'
                    })(class='vertical-gap-s')
            .slider.swiper-container.swiper-container--viewed
                .swiper-wrapper
                    +product({
                        path: 'assets/product',
                        format: 'jpg',
                        width: '270',
                        height: '350',
                        slide: [
                            {
                                'image': 'rose',
                                'title': 'Rose',
                                'price' : '890 ₽',
                                'text' : 'крем для лица',
                                'volume' : '50ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'milk',
                                'title': 'Milk',
                                'price' : '790 ₽',
                                'text' : 'масло для тела',
                                'volume' : '150ml',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'paradise',
                                'title': 'Paradise',
                                'price' : '590 ₽',
                                'text' : 'минеральная пудра',
                                'volume' : '15g',
                                'altText': 'Слайд с продукцией каталога',
                            },{
                                'image': 'sun',
                                'title': 'Sun',
                                'price' : '90 ₽',
                                'text' : 'бомбочка для ванны',
                                'volume' : '20g',
                                'altText': 'Слайд с продукцией каталога',
                            }
                        ]
                    })(class='swiper-slide slider__item')
            +slider-btn({
                btn1: 'prew-viewed',
                btn2 : 'next-viewed',
                prew: {'icoName': 'left',
                        'size':'lg'},
                next: {'icoName': 'right',
                        'size':'lg'}
            })
            +paginator()(class='swiper-pagination-viewed')
        +site-follow()
        +site-contact()

