extends _template.pug

include ../components/content-img/content-img.pug
include ../components/promo-card/promo-card.pug
include ../components/about/about.pug
include ../components/picture/picture.pug
include ../components/bg-img/bg-img.pug
include ../components/link/link.pug
include ../components/main-title/main-title.pug
include ../components/title/title.pug
include ../components/description/description.pug
include ../components/title/title.pug
include ../components/product-card/product-card.pug


append section
    +bg-img()(class='bg-img--about vertical-gap-xl')
        .container.dec-block
            +about()
                .row.col.middle-xs
                    .col-xs-12
                        +main-title({
                            title: 'Maroon'
                        })
                    .col-xs-12
                        +description({
                            text: 'Натуральная косметика для бережного ухода за кожей'
                        })(class='vertical-gap-m')
                    .col-xs-8
                        +link({
                            theme: 'rectangular',
                            text: 'Подробнее'
                        })
            .row.between-xs
                .col-lg-4.col-sm-5.col-xs-6
                    +promo-card({
                        picture:
                            {
                                src: '%=static=%img/',
                                path: 'content',
                                image: 'main1',
                                format: 'jpg',
                                width: '330',
                                height: '442',
                                altText: 'Уход для лица',
                                source: [
                                    {
                                        'media' : '(min-width: 1200px)',
                                        'image': 'main1',
                                        'format': 'webp',
                                        'type' : 'image/webp',
                                    },{
                                        'media' : '(min-width: 1200px)',
                                        'image': 'main1',
                                        'format': 'jpg',
                                        'type' : 'image/jpeg'
                                    },{
                                        'media' : '(min-width: 768px)',
                                        'image': 'main1-lap',
                                        'format': 'webp',
                                        'type' : 'image/webp',
                                    },{
                                        'media' : '(min-width: 768px)',
                                        'image': 'main1-lap',
                                        'format': 'jpg',
                                        'type' : 'image/jpeg'
                                    },{
                                        'image': 'main1-mob',
                                        'format': 'webp',
                                        'type' : 'image/webp',
                                    },{
                                        'image': 'main1-mob',
                                        'format': 'jpg',
                                        'type' : 'image/jpeg'
                                    }
                                ]
                            },
                        svg : {icoName: 'arrow'},
                        href : '#',
                        text : 'Уход для лица'
                    })
                .col-lg-4.col-sm-5.col-xs-6
                    +promo-card({
                        picture:
                            {
                                src: '%=static=%img/',
                                path: 'content',
                                image: 'main1',
                                format: 'jpg',
                                width: '330',
                                height: '442',
                                altText: 'Уход для лица',
                                source: [
                                    {
                                        'media' : '(min-width: 1200px)',
                                        'image': 'main2',
                                        'format': 'webp',
                                        'type' : 'image/webp',
                                    },{
                                        'media' : '(min-width: 1200px)',
                                        'image': 'main2',
                                        'format': 'jpg',
                                        'type' : 'image/jpeg'
                                    },{
                                        'media' : '(min-width: 768px)',
                                        'image': 'main2-lap',
                                        'format': 'webp',
                                        'type' : 'image/webp',
                                    },{
                                        'media' : '(min-width: 768px)',
                                        'image': 'main2-lap',
                                        'format': 'jpg',
                                        'type' : 'image/jpeg'
                                    },{
                                        'image': 'main2-mob',
                                        'format': 'webp',
                                        'type' : 'image/webp',
                                    },{
                                        'image': 'main2-mob',
                                        'format': 'jpg',
                                        'type' : 'image/jpeg'
                                    }
                                ]
                            },
                        svg : {icoName: 'arrow'},
                        href : '#',
                        text : 'Уход для тела'
                    })
    .container.vertical-gap-xl
        .row
            .col-lg-4
                .row.col
                    .col-lg-12.vertical-gap-s
                        +title({
                            title: 'Бестселлеры'
                        })
                    .col-lg-9.vertical-gap-m
                        +description({
                            text: 'Легендарные продукты, завоевавшие любовь наших клиентов'
                        })
                    .col-lg-7
                        +link({
                            theme: 'rectangular',
                            text: 'Подробнее'
                        })
            .col-lg-8
                .slider.swiper-container
                    +product-card({
                        src: '%=static=%img/content/',
                        format: 'jpg',
                        width: '230',
                        height: '312',
                        altText: 'Слайд с продукцией',
                        link: 'Подробнее',
                        slide: [
                            {
                                'image': 'cream-high',
                                'title': 'High',
                                'text' : 'крем для лица'
                            },{
                                'image': 'cream-rest',
                                'title': 'Rest',
                                'text' : 'минеральная пудра'
                            },{
                                'image': 'cream-rose',
                                'title': 'Rose',
                                'text' : 'крем для лица'
                            },{
                                'image': 'cream-milk',
                                'title': 'Milk',
                                'text' : 'масло для тела'
                            }
                        ]
                    })(class='swiper-slide slider__item')
