extends _template.pug

include ../components/content-img/content-img.pug
include ../components/promo-card/promo-card.pug
include ../components/about/about.pug
include ../components/picture/picture.pug

append section
    +content-img({
        path: 'content',
        image: 'card-lap',
        format: 'jpg',
        width: '343',
        height: '229',
        altText: 'История подопечного',
    })
    +about()
