html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    object-fit: contain;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    font-family: $font-main;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    word-wrap: normal;
    color: $color-main-text;
}

@include tablet {
    .page.no-scroll {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

.slider {
    width: 100%;
    margin: 0;
}

.slider__item {
    height: 312px;
    width: 230px;
}

@include mobile {
    .slider__item {
        height: 297px;
        width: 220px;
    }
    .slider {
        width: 320px;
    }
}
.outline {
    outline: 1px solid green;
}
.dec-block {
    position: relative;
}
.devider {
    border-bottom: 1px solid $color-devider;
}
.dec-position {
    position: absolute;

    &--right {
        top: 68px;
        right: 0;
    }

    @include tablet {
        right: -4%;
    }

    @include mobile {
        position: relative;
        top: -120px;
        right: 0;
    }
}
