// File for scss-vars.
// For example: main colors, paddings and so on.

// Viewports

$vp--tablet: 1199px;
$vp--mobile: 767px;

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Base
$color-main-text: #122947;
$color-border: #dbdce0;
$color-background: #f8f8f6;
$color-shadow: rgba(214, 214, 214, 0.19);

$font-main: "Mplus", "Arial", sans-serif;
$font-secondary: "Raleway", "Arial", sans-serif;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
