mixin picture(params)
    picture&attributes(attributes)
        each item in params.source
            source(media=item.media type=item.type srcset=params.src + params.path + "/" + item.image + "@1x." + item.format + " 1x" + "," + params.src + params.path + "/" + item.image + "@2x." + item.format + " 2x")
        img(src=params.src + params.path + "/" + params.image + "@1x." + params.format, srcset= params.src + params.path + "/" + params.image + "@2x." + params.format + " 2x", width= params.width, height= params.height, alt= params.altText)


//-+picture(
    {
        src: '%=static=%img/',
        path: 'content',
        image: 'main1',
        format: 'jpg',
        width: '330',
        height: '442',
        altText: 'Уход для лица',
        source: [
            {
                'media' : '(min-width: 1200px)',
                'image': 'main1',
                'format': 'webp',
                'type' : 'image/webp'
            },{
                'media' : '(min-width: 1200px)',
                'image': 'main1',
                'format': 'jpg',
                'type' : 'image/jpeg'
            },{
                'media' : '(min-width: 768px)',
                'image': 'main1-lap',
                'format': 'webp',
                'type' : 'image/webp'
            },{
                'media' : '(min-width: 768px)',
                'image': 'main1-lap',
                'format': 'jpg',
                'type' : 'image/jpeg'
            },{
                'image': 'main1-mob',
                'format': 'webp',
                'type' : 'image/webp'
            },{
                'image': 'main1-mob',
                'format': 'jpg',
                'type' : 'image/jpeg'
            }
        ]
    })
