.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 312px;
    width: 230px;
}

.product-card__title {
    z-index: 1;
    margin: 0 10px 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.45;
    font-weight: 500;
}

.product-card__description {
    margin-top: 0;
    margin-bottom: 9px;
    text-align: center;
    font-family: $font-main;
    font-size: 13px;
    line-height: 18px;
    color: $color-light-text;
    z-index: 1;
}

.product-card__link {
    position: relative;
    margin: 0 10px 25px;
    padding-bottom: 3px;
    text-align: center;
    font-family: $font-main;
    font-size: 13px;
    line-height: 18px;
    color: $color-main-text;
    cursor: pointer;
    transition: 0.2s;
    outline: 0;
    z-index: 1;
}

.product-card__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: $color-main-text;
}

.product-card__link:active,
.product-card__link:focus,
.product-card__link:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.product-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: $color-background-inner;
}
@include mobile {
    .product-card {
        height: 297px;
        width: 220px;
    }
    .product-card__description {
        margin-bottom: 5px;
    }
    .product-card__link {
        margin-bottom: 20px;
    }
}
