.logo {
    display: flex;
    justify-content: center;
    outline: 0;
    transition: 0.2s;
}
.logo--footer {
    justify-content: flex-start;
}
.logo:active,
.logo:focus,
.logo:hover {
    opacity: 0.5;
    transition: 0.2s;
}
.logo img {
    height: 21px;
    width: 131px;
}
@include tablet {

}

@include mobile  {
    .logo img {
        height: 13px;
        width: 85px;
    }
}
