.social-list {
    @include nl;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.social-list--footer {
    justify-content: flex-end;
}

.social-list--for-menu {
    display: none;
}
.social-list__item {
    margin-bottom: 15px;
}
.social-list__item:not(:first-child) {
    margin-left: 30px;
}

.social-list__link {
    display: flex;
    outline: 0;
    transition: 0.2s;
    color:  $color-main-text;
}

.social-list__link:active,
.social-list__link:focus,
.social-list__link:hover {
    opacity: 0.5;
    transition: 0.2s;
}

@include tablet {
    .social-list--for-menu {
        display: flex;
        padding: 10px 45px 61px;
    }
}

@include mobile {
    .social-list--for-menu {
        padding: 10px 15px 50px;
    }
    .social-list--footer {
        justify-content: flex-start;
    }
}
