mixin site-follow
    .container.vertical-gap-xl
        .row.center-xs.start-sm
            .col-sm-6.col-xs-12
                +collage()
                    +picture(
                        {
                            src: '%=static=%img/',
                            path: 'content',
                            image: 'join1',
                            format: 'jpg',
                            width: '330',
                            height: '442',
                            altText: 'Уход для лица',
                            source: [
                                {
                                    'image': 'join1',
                                    'format': 'webp',
                                    'type' : 'image/webp'
                                },{
                                    'image': 'join1',
                                    'format': 'jpg',
                                    'type' : 'image/jpeg'
                                },
                            ]
                        })(class='picture picture--collage picture--collage-lg')
                    +picture(
                        {
                            src: '%=static=%img/',
                            path: 'content',
                            image: 'join2',
                            format: 'jpg',
                            width: '330',
                            height: '442',
                            altText: 'Уход для лица',
                            source: [
                                {
                                    'image': 'join2',
                                    'format': 'webp',
                                    'type' : 'image/webp'
                                },{
                                    'image': 'join2',
                                    'format': 'jpg',
                                    'type' : 'image/jpeg'
                                }
                            ]
                        })(class='picture picture--collage')
                    +picture(
                        {
                            src: '%=static=%img/',
                            path: 'content',
                            image: 'join3',
                            format: 'jpg',
                            width: '330',
                            height: '442',
                            altText: 'Уход для лица',
                            source: [
                                {
                                    'image': 'join3',
                                    'format': 'webp',
                                    'type' : 'image/webp'
                                },{
                                    'image': 'join3',
                                    'format': 'jpg',
                                    'type' : 'image/jpeg'
                                }
                            ]
                        })(class='picture picture--collage')
                    +picture(
                        {
                            src: '%=static=%img/',
                            path: 'content',
                            image: 'join4',
                            format: 'jpg',
                            width: '330',
                            height: '442',
                            altText: 'Уход для лица',
                            source: [
                                {
                                    'image': 'join4',
                                    'format': 'webp',
                                    'type' : 'image/webp'
                                },{
                                    'image': 'join4',
                                    'format': 'jpg',
                                    'type' : 'image/jpeg'
                                }
                            ]
                        })(class='picture picture--collage picture--collage-lg')
                    +picture(
                        {
                            src: '%=static=%img/',
                            path: 'content',
                            image: 'join5',
                            format: 'jpg',
                            width: '330',
                            height: '442',
                            altText: 'Уход для лица',
                            source: [
                                {
                                    'image': 'join5',
                                    'format': 'webp',
                                    'type' : 'image/webp'
                                },{
                                    'image': 'join5',
                                    'format': 'jpg',
                                    'type' : 'image/jpeg'
                                }
                            ]
                        })(class='picture picture--collage')
                    +picture(
                        {
                            src: '%=static=%img/',
                            path: 'content',
                            image: 'join6',
                            format: 'jpg',
                            width: '330',
                            height: '442',
                            altText: 'Уход для лица',
                            source: [
                                {
                                    'image': 'join6',
                                    'format': 'webp',
                                    'type' : 'image/webp'
                                },{
                                    'image': 'join6',
                                    'format': 'jpg',
                                    'type' : 'image/jpeg'
                                }
                            ]
                        })(class='picture picture--collage')
            .col-sm-5.col-sm-offset-1.col-xs-10.vertical-twice-gap-m
                +block-info({
                    title: 'Присоединяйтесь к нам',
                    text: 'Подпишитесь на наш аккаунт @marooncare и узнавайте о новиках и акциях первыми',
                    theme: 'rectangular',
                    link: 'Подписаться',
                    href: '#'
                })(class='block-info--follow')
