mixin about
    .about
        +promo-card({
            picture:
                {
                    path: 'content',
                    image: 'main1',
                    format: 'jpg',
                    width: '330',
                    height: '442',
                    altText: 'Уход для лица',
                    source: [
                        {
                            'media' : '(min-width: 1200px)',
                            'path': 'content',
                            'image': 'main1',
                            'format': 'webp'
                        },{
                            'media' : '(min-width: 1200px)',
                            'path': 'content',
                            'image': 'main1',
                            'format': 'jpg'
                        },{
                            'media' : '(min-width: 768px)',
                            'path': 'content',
                            'image': 'main1-lap',
                            'format': 'webp'
                        },{
                            'media' : '(min-width: 768px)',
                            'path': 'content',
                            'image': 'main1-lap',
                            'format': 'jpg'
                        },{
                            'path': 'content',
                            'image': 'main1-mob',
                            'format': 'webp'
                        },{
                            'path': 'content',
                            'image': 'main1-mob',
                            'format': 'jpg'
                        }
                    ]
                },
            svg : {icoName: 'arrow'},
            href : '#',
            text : 'Уход для лица'
        })
        +promo-card({
            picture:
                {
                    path: 'content',
                    image: 'main1',
                    format: 'jpg',
                    width: '330',
                    height: '442',
                    altText: 'Уход для лица',
                    source: [
                        {
                            'media' : '(min-width: 1200px)',
                            'path': 'content',
                            'image': 'main2',
                            'format': 'webp'
                        },{
                            'media' : '(min-width: 1200px)',
                            'path': 'content',
                            'image': 'main2',
                            'format': 'jpg'
                        },{
                            'media' : '(min-width: 768px)',
                            'path': 'content',
                            'image': 'main2-lap',
                            'format': 'webp'
                        },{
                            'media' : '(min-width: 768px)',
                            'path': 'content',
                            'image': 'main2-lap',
                            'format': 'jpg'
                        },{
                            'path': 'content',
                            'image': 'main2-mob',
                            'format': 'webp'
                        },{
                            'path': 'content',
                            'image': 'main2-mob',
                            'format': 'jpg'
                        }
                    ]
                },
            svg : {icoName: 'arrow'},
            href : '#',
            text : 'Уход для тела'
        })
