mixin header()
    header.header.header--transparent
        .container
            .row.between-xs.middle-xs
                .col-collapse-lg.col-sm-1.col-xs-2
                    +burger()
                .col-lg-2.col-sm-8.col-xs-4.col-sm-offset-1.col-xs-offset-2.col-lg-offset-0
                    +logo(logo.defaults)
                .col-lg-9
                    .header__nav
                        +overlay()
                        +nav-list(nav.header)(class='nav-list--header')
                        +social(social.defaults)(class='social-list--for-menu')
                .col-lg-1.col-sm-2.col-xs-4
                    +user-actions(user.defaults)
