mixin content-img(params)

    - var path = params.path;
    - var image =  params.image;
    - var format = params.format;
    - var width = params.width;
    - var height = params.height;
    - var altText = params.altText;
    - var labelleadbly = params.labelleadbly;

    img(class='img' src='%=static=%img/' + path + '/' + image + '@1x.' + format, srcset= '%=static=%img/' + path + '/' + image + '@2x.' + format + ' 2x', width=width, height=height, alt=altText aria-labelledby=labelleadbly)
