.nav-list {
    @include nl;
    display: flex;
    flex-wrap: wrap;
    z-index: 25;
}
.nav-list__item:not(:first-child) {
    margin-left: 35px;
}
.nav-list__link {
    font-family: $font-main;
    font-size: 16px;
    display: block;
    color: $color-main-text;
    transition: 0.2s;
    outline: 0;
    word-break: break-all;
}
.nav-list__link:active,
.nav-list__link:focus,
.nav-list__link:hover {
    opacity: 0.5;
    transition: 0.2s;
}

@include tablet {
    .nav-list {
        width: 100%;
    }
    .nav-list__item:not(:first-child) {
        margin-left: 20px;
    }
    .nav-list--header {
        flex-direction: column;
        padding: 30px 45px;

        .nav-list__item {
            padding: 20px 0;
        }
        .nav-list__item:not(:first-child) {
            margin-left: 0;
        }
        .nav-list__link {
            font-family: $font-secondary;
            font-size: 32px;
            font-weight: 500;
        }
    }
    .nav-list--footer {


    }
}

@include mobile {
    .nav-list--footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

        .nav-list__item {
            margin-left: 0;
        }
    }
    .nav-list--header {
        padding: 40px 15px;

        .nav-list__item {
            padding: 0;
        }
        .nav-list__item + .nav-list__item {
            margin-top: 35px;
        }
        .nav-list__link {
            font-size: 28px;
        }
    }
}




