mixin link(params)
    - var theme = params.theme || 'simple';
    - var link = params.text;

    a(class=`link link--${theme}` aria-label=link href=params.href)&attributes(attributes) !{params.link}


//- simple - обычная без границ
    rectangular - ссылка в прямоугольнике
    underline - подчеркнутая ссылка
    decorative - декоративная ссылка

