mixin contacts(params)
    p(class='contacts-text contacts-text--' + params.current)&attributes(attributes)
        span.contacts-text__name #{params.name}
        if params.link
            a.contacts-text__value(href=params.href) #{params.linkText}
        if params.text
            span.contacts-text__value !{params.span}
