.contacts-text {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.contacts-text__name {
    font: normal 500 18px/145% "Mplus", "Arial", sans-serif;
    font: $font-secondary;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 8px;
    color: $color-main-text;
}
.contacts-text__value {
    text-decoration: none;
    color: inherit;
}
