
/* Uncomment and set these variables to customize the grid. */
.vertical-gap-xs-0 {
    margin-bottom: 0;
}
.vertical-gap-s { //между заголовком и текстом
    margin-bottom: 25px;
}
.vertical-gap-m {    //между текстом и кнопкой
    margin-bottom: 30px;
}
.vertical-gap-xl { //между блоками
    margin-bottom: 80px;
}
.vertical-twice-gap-s { //в средних блоках
    margin-top: 20px;
    margin-bottom: 20px;
}
.vertical-twice-gap-m { //в средних блоках
    margin-top: 30px;
    margin-bottom: 30px;
}
.vertical-twice-gap-xl { //в больших блоках
    margin-top: 60px;
    margin-bottom: 60px;
}

@media only screen and (min-width: 48em) {
    .vertical-gap-sm-0 {
        margin-bottom: 0;
    }
    .vertical-gap-s { //между заголовком и текстом
        margin-bottom: 40px;
    }
    .vertical-gap-m {    //между текстом и кнопкой
        margin-bottom: 45px;
    }
    .vertical-gap-xl { //между блоками
        margin-bottom: 120px;
    }
    .vertical-twice-gap-s { //в средних блоках
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .vertical-twice-gap-m { //в средних блоках
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .vertical-twice-gap-xl { //в больших блоках
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 62em) {
}

@media only screen and (min-width: 75em) {
    .vertical-gap-lg-0 {
        margin-bottom: 0;
    }
    .vertical-gap-s { //между заголовком и текстом
        margin-bottom: 30px;
    }
    .vertical-gap-m {    //между текстом и кнопкой
        margin-bottom: 40px;
    }
    .vertical-gap-xl { //между блоками
        margin-bottom: 140px;
    }
    .vertical-twice-gap-s { //в средних блоках
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .vertical-twice-gap-m { //в средних блоках
        margin-top: 54px;
        margin-bottom: 54px;
    }
    .vertical-twice-gap-xl { //в больших блоках
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
