// Mixin size icons
@mixin size($size) {
    width: $size;
    height: $size;
}

$sm-ico: 20px;
$lg-ico: 24px;
$xl-ico: 36px;

.ico-svg {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;

    &--sm {
        @include size($sm-ico);
    }
    &--lg {
        @include size($lg-ico);
    }
    &--xl {
        width: $xl-ico;
        height: 9px;
    }
    &--inherit {
        color: inherit;
    }
}
