mixin accordion(params)
    .accordion&attributes(attributes)
        .accordion__header
            h3.accordion__subtitle #{params.subtitle}
            +button(params.btn)(class='accordion__toggler')
                span.accordion__toggler-icon
        .accordion__content
            block

