.block-info {
    display: flex;
    flex-direction: column;
}
.block-info .link {
    width: 40%;
    min-width: 160px;
}
.block-info--banner p {
    @include word-break;
    -webkit-line-clamp: 3;
}
.block-info--individual p {
    @include word-break;
    -webkit-line-clamp: 15;
}

@include mobile {
    .block-info {
        align-items: center;
        text-align: center;
    }
    .block-info--banner {
        margin-top: 240px;
    }
}
